Hafta2/ProductAPI/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Hafta2/ProductAPI/obj/Debug/net5.0/ProductAPI.AssemblyInfo.cs
Hafta2/ProductAPI/obj/Debug/net5.0/ProductAPI.AssemblyInfoInputs.cache
Hafta2/ProductAPI/obj/Debug/net5.0/ProductAPI.assets.cache
Hafta2/ProductAPI/obj/Debug/net5.0/ProductAPI.csproj.AssemblyReference.cache
Hafta2/ProductAPI/obj/project.nuget.cache
Hafta2/ProductAPI/obj/project.assets.json
Hafta2/ProductAPI/obj/ProductAPI.csproj.nuget.g.targets
Hafta2/ProductAPI/obj/ProductAPI.csproj.nuget.g.props
Hafta2/ProductAPI/obj/ProductAPI.csproj.nuget.dgspec.json
Hafta2/ProductAPI/obj/Debug/net5.0/project.razor.json
